body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background: linear-gradient(to bottom, #f0f0f0, #555555);
}

header {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
